body{
  background: repeating-radial-gradient(circle, blue 30%, red 10%, orange 40%);
  width: 100%;
  position: relative;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
